@page "/settings/index"
@using Am.Testing.Web.Components.Ui.LanguageSelector

@inherits BasePage
@inject IStringLocalizer<SettingsIndex> Localizer

<h3>@Localizer["Settings"]</h3>

<LanguageSelectorComponent />

<RadzenCard class="mb-4" Variant="Variant.Outlined">
    <a href="settings/enumerations/covertypes/index">
        <span class="material-icons me-2">layers</span> @Localizer["CoverTypes"]
    </a>

    <br />

    <a href="settings/enumerations/genres/index">
        <span class="material-icons me-2">layers</span> @Localizer["Genres"]
    </a>
</RadzenCard>




@code {

}
