@page "/authors/index/v1"
@using Am.Testing.Domain.Entities

@inject IStringLocalizer<AuthorsIndexV1> Localizer

<h3>AuthorsIndexV1</h3>

<div class="d-flex justify-content-end align-items-center">
    <RadzenButton Text=@Localizer["CreateNew"] />
</div>

<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text=@Localizer["Cards"]>

        </RadzenTabsItem>

        <RadzenTabsItem Text=@Localizer["Table"]>

        </RadzenTabsItem>

        <RadzenTabsItem Text=@Localizer["Tree"]>

        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {

    private IEnumerable<Author> items = Enumerable.Empty<Author>(); 

}
