@page "/publishers/{PublisherId:long}/v1"

@using Am.Testing.Domain.Entities

@inherits BasePage
@inject IStringLocalizer<EditPublisherPageV1> Localizer
@inject MainDbContext DbContext

<h3>EditPublisherPageV1</h3>

@code {

    [Parameter]
    public long PublisherId { get; set; }
}
