@page "/project/documentation/requirements"
@using Am.Testing.Web.Components.Ui.Project;

<DocumentationNavigation />

<h3>Katalóg požiadaviek</h3>

<RequirementCard Name="Autori" Desc="Manažment autorov">
    <Table>

        <RequirementRow Id="101"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Pridanie autora"
                        Requirement="Systém umožní pridávať autorov pomocou formuláru." 
                        UseCase="UC 1O1" 
                        TestCase="TC 101" />

        <RequirementRow Id="102"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Upravenie autora"
                        Requirement="Systém umožní upraviť údaje o autorovi pomocou formuláru."
                        UseCase="UC 102"
                        TestCase="TC 102" />

        <RequirementRow Id="103"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Odstránenie autora"
                        Requirement="Systém umožní vymazať autora zo zoznamu autorov."
                        UseCase="UC 103"
                        TestCase="TC 103" />

        <RequirementRow Id="104"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie listu autorov"
                        Requirement="Systém umožní zobraziť zoznam autorov pomocou dátového listu."
                        UseCase="UC 104"
                        TestCase="TC 104" />

        <RequirementRow Id="105"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie tabuľky autorov"
                        Requirement="Systém umožní zobraziť zoznam autorov pomocou tabuľky."
                        UseCase="UC 105"
                        TestCase="TC 105" />

        <RequirementRow Id="106"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie stromu autorov"
                        Requirement="Systém umožní zobraziť zoznam autorov pomocou stromu, kategorizovaných podľa priezviska."
                        UseCase="UC 106"
                        TestCase="TC 106" />

    </Table>
</RequirementCard>

<RequirementCard Name="Knihy" Desc="Manažment kníh">
    <Table>

        <RequirementRow Id="201"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Pridanie knihy"
                        Requirement="Systém umožní pridávať knihy pomocou formuláru."
                        UseCase="UC 201"
                        TestCase="TC 201" />

        <RequirementRow Id="202"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Upravenie knihy"
                        Requirement="Systém umožní upraviť údaje o knihe pomocou formuláru."
                        UseCase="UC 202"
                        TestCase="TC 202" />

        <RequirementRow Id="203"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Odstránenie knihy"
                        Requirement="Systém umožní vymazať knihu zo zoznamu kníh."
                        UseCase="UC 203"
                        TestCase="TC 203" />

        <RequirementRow Id="204"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie listu kníh"
                        Requirement="Systém umožní zobraziť zoznam kníh pomocou dátového listu."
                        UseCase="UC 204"
                        TestCase="TC 204" />

        <RequirementRow Id="205"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie tabuľky kníh"
                        Requirement="Systém umožní zobraziť zoznam kníh pomocou tabuľky."
                        UseCase="UC 205"
                        TestCase="TC 205" />

        <RequirementRow Id="206"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie stromu kníh"
                        Requirement="Systém umožní zobraziť zoznam kníh pomocou stromu, kategorizovaných podľa autorov."
                        UseCase="UC 206"
                        TestCase="TC 206" />

    </Table>
</RequirementCard>

<RequirementCard Name="Vydavateľstvá" Desc="Manažment vydavateľstiev">
    <Table>

        <RequirementRow Id="301"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Pridanie vydavateľstva"
                        Requirement="Systém umožní pridávať vydavateľstvá pomocou formuláru."
                        UseCase="UC 301"
                        TestCase="TC 301" />

        <RequirementRow Id="302"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Upravenie vydavateľstva"
                        Requirement="Systém umožní upraviť údaje o vydavateľste pomocou formuláru."
                        UseCase="UC 302"
                        TestCase="TC 302" />

        <RequirementRow Id="303"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Odstránenie vydavateľstva"
                        Requirement="Systém umožní vymazať vydavateľstvo zo zoznamu vydavateľstiev."
                        UseCase="UC 303"
                        TestCase="TC 303" />

        <RequirementRow Id="304"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie listu vydavateľstiev"
                        Requirement="Systém umožní zobraziť zoznam vydavateľstiev pomocou dátového listu."
                        UseCase="UC 304"
                        TestCase="TC 304" />

        <RequirementRow Id="305"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie tabuľky vydavateľstiev"
                        Requirement="Systém umožní zobraziť zoznam vydavateľstiev pomocou tabuľky."
                        UseCase="UC 305"
                        TestCase="TC 305" />

        <RequirementRow Id="306"
                        RequirementType="Funkčná požiadavka"
                        Category="Manažment"
                        Name="Zobrazenie stromu vydavateľstiev"
                        Requirement="Systém umožní zobraziť zoznam vydavateľstiev pomocou stromu, kategorizovaných podľa názvu."
                        UseCase="UC 306"
                        TestCase="TC 306" />

    </Table>
</RequirementCard>


@code {

}
