@page "/project/documentation/specs"

<DocumentationNavigation />

<h3>Zámer riešenia</h3>
<RadzenCard>
  
</RadzenCard>

<h4>Cieľ riešenia</h4>
<RadzenCard>

</RadzenCard>

<h4>Popis navrhovaného riešenia</h4>
<RadzenCard>

</RadzenCard>

<h4>Akceptačné kritéria</h4>
<RadzenCard>

</RadzenCard>

<h4>Katalóg požiadaviek</h4>
<RadzenCard>
    <a href="/project/documentation/requirements"> Odkaz na stránku </a>
</RadzenCard>

<h3>Popis postupu analýzy</h3>
<RadzenCard>

</RadzenCard>

<h3>Biznis procesy</h3>
<RadzenCard>

</RadzenCard>

<h3>Biznis architektúra</h3>
<RadzenCard>
  
</RadzenCard>

<h4>Používatelia riešenia</h4>
<RadzenCard>

</RadzenCard>

<h4>Základné biznis požiadavky</h4>
<RadzenCard>

</RadzenCard>

<h3>Popis dátových entít</h3>
<RadzenCard>
    <a href="/project/documentation/entities"> Odkaz na stránku </a>
</RadzenCard>

<h3>Návrh riešenia</h3>
<RadzenCard>

</RadzenCard>

<h3>Use cases - Prípady použitia</h3>
<RadzenCard>

</RadzenCard>

<h3>Aplikačná architektúra</h3>
<RadzenCard>

</RadzenCard>

<h3>Fyzická architektúra</h3>
<RadzenCard>

</RadzenCard>

<h3>Testovanie</h3>
<RadzenCard>

</RadzenCard>

@code {

}
