@page "/project/index"

<h3>Projekt Am.Testovanie</h3>

<div class="d-flex justify-content-start align-items-center mt-3 gap-3">
    
    <RadzenLink Path="/project/documentation/specs">
        <RadzenButton Text="Projektová dokumentácia" ButtonStyle="ButtonStyle.Dark" />
    </RadzenLink>

    <RadzenLink Path="/project/testing">
        <RadzenButton Text="Testovacie scenáre" ButtonStyle="ButtonStyle.Dark" />
    </RadzenLink>

</div>

@code {

}
