
<RadzenCard>
    <div class="d-flex justify-content-start align-items-center gap-1">

        <RadzenSplitButton ButtonStyle="ButtonStyle.Dark" Icon="sort">
            <ChildContent>
                <RadzenSplitButtonItem Text="Item1" Value="1" />
                <RadzenSplitButtonItem Text="Item2" Value="2" />
            </ChildContent>
        </RadzenSplitButton>

        <RadzenToggleButton ButtonStyle="ButtonStyle.Dark" Icon="arrow_downward" ToggleIcon="arrow_upward">

        </RadzenToggleButton>
    </div>

</RadzenCard>

@code {

}
